<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body{
            background:url(/assets/img/demo.jpg) no-repeat center top;
            background-size:cover;
            background-attachment:fixed;
        }

    </style>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <script src="/assets/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/assets/editormd/css/editormd.css" />
</head>
<body>
<div class="container mt-3">
    {{template  "header" .}}

    <div class="col-md-8">

        <div id="myEditor" style="width: max-content;">
            <article class="blog-post">
                <h2 class="blog-post-title mb-1">{{.post.Title}}</h2>

                <p class="blog-post-meta">{{ .cretetime}} by <a href="#">Jacob</a>

                    {{if .IsLogin}}
                    <a href='javascript:if(confirm("确定删除吗？")){location="/delete/{{ .post.ID }}"}'>删除</a>

                    <a href="/put/{{ .post.ID }}">修改</a></p>

                    {{ else }}

                    {{ end }}




            </article>
            <textarea style="display:none;" >{{.post.Content}}</textarea>

        </div>









    </div>
    {{template  "content" .}}
    {{template  "footer" .}}
</div>









</body>
</html>
